.hgignore
*.o
*.a
moc_*
*.pro.user
caret/Makefile
caret/caret5.app/
caret_brain_set/Makefile
caret_command/Makefile
caret_command/caret_command.app/
caret_command_operations/Makefile
caret_common/Makefile
caret_edit/Makefile
caret_edit/caret_edit.app/
caret_files/Makefile
caret_gifti/Makefile
caret_statistics/Makefile
caret_uniformize/Makefile
caret_vtk4_classes/Makefile
caret_widgets/Makefile
caret_cifti/Makefile
caret_widgets/caret_widgets
.git
caret/caret5
caret_command/caret_command
caret_edit/caret_edit
#ignore kdev projects
.cproject
*.kdev4
.project
*.vcxproj*
*.filters
debug
release
*.pdb
*.suo
*.sdf
ipch
*.opensdf
*.cxx~
*.h~
data_files
