Source: caret
Section: science
Priority: optional
Maintainer: Michael Hanke <michael.hanke@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev (>= 4.3), libqt4-dev (<< 4.4.0) | libqt4-opengl-dev, libqwt5-qt4-dev, libvtk5-dev, libminc-dev
Standards-Version: 3.8.0
Homepage: http://brainmap.wustl.edu/caret
Vcs-Browser: http://git.debian.org/?p=pkg-exppsy/caret.git
Vcs-Git: git://git.debian.org/git/pkg-exppsy/caret.git

Package: caret
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: caret-data (>= 5.6~dfsg.1)
Description: Computerized Anatomical Reconstruction and Editing Toolkit
 This software allows for creating, viewing and manipulating surface
 reconstructions of the cerebral and cerebellar cortex, viewing volumes and for
 displaying experimental data on the surfaces and volumes.
 .
 Caret can download and use stereotaxic atlases (human, monkey, mouse and rat)
 from an open online database.
